@media (max-width: 768px) {

/* imágenes en vertical */
.left, .right {
width: 100%;
height: 50%;
animation-duration: 2s;
}

.left {
top: 0;
left: 0;
}

.right {
bottom: 0;
top: auto;
}

/* texto gigante */
.texto {
top: 0;
left: 0;
transform: scaleX(1.3);
transform-origin: center;

width: 100vw;
height: 100vh;

display: flex;
align-items: center;
justify-content: center;

font-size: 18vw;
text-align: center;
}

/* animaciones más fuertes */
@keyframes deformRight {
0% { transform: scaleX(1); }
25% { transform: scaleX(1.4) skewX(8deg); }
50% { transform: scaleX(0.8) skewX(-5deg); }
100% { transform: scaleX(1); }
}

@keyframes deformLeft {
0% { transform: scaleX(1); }
50% { transform: scaleX(1.4) skewX(-8deg); }
75% { transform: scaleX(0.8) skewX(5deg); }
100% { transform: scaleX(1); }
}
}
